[Desktop Entry]
Name=SCFqt
Comment=Speriamo che funzioni
GenericName=SCFqt
Exec=SCFqt
Icon=scfqt
Categories=Productivity;Databases;Clients;
Type=Application
